.a {
  width: 960px;
  height: 100px;
    background-color:#1a000d ;
    color: white;
  }
  
  .b {
    width: 200px;
    height: 600px;
    float: left;
    background-color: #660033;
   
  }
  
  .c {
    width: 380px;
    height: 200px;
    background-color: #b30059;
   
  }
  
  .d {
    width: 380px;
    height: 200px;
    background-color: #e60073;
  }
  
  .e {
   
    background-color: #ff3399;
  
  }
  
  .f {
    
    background-color: #ff66b3;
    
  }
  
  .g {
    
   background-color: #ff99cc;
  }
  
  .h {
    
  background-color: #ffe6f2;
  }
  
  .e,
  .f,
  .g,
  .h {
    width: 190px;
  height: 250px;
  }
  
  .i {
    float: right;
    width: 760px;
    height: 150px;
    background-color: #000000;
    color: white;
  }
  
  div {
    border: solid 1px #000000;
  }
  .b{
    float: left;
  }
  
  @media only screen and (max-width: 768px) {
    body{
      width: 576px;
      margin: auto;
    
      }

div{
  background-color: cyan;
}

    body {
      width: 480px;
    }
  
    .first-row{
      width: 480px;
      flex-direction: column;
    }
    
    .third-row{
      display: flex;
    }
    
    .fix-row{
      display: flex;
    }
    
    .a {
      width: 576px;
      height: 100px;
      
      line-height: 90px;
    }
    
    .b {
      width: 576px;
      line-height: 90px;
      height: 100px;
      
    }
    
   
    
    .c,
    .d {
      line-height: 140px;
      width: 576px;
      height: 150px;
    }
    
  
    
    .i {
      float: left;
     
      width: 576px;
      height: 150px;
      line-height: 150px;
    }
    
    .e,
    .f,
    .g,
    .h {
      line-height: 220px;
      width: 288px;
      height: 250px;
    }
    }
    /* ------------- for Mobile ------------ */
    @media only screen and (max-width: 600px) {
      body,main {
        width: 480px;
      }
    
      div {
        border: solid 1px #000000;
        font-size: 200%;
      }
    
      .first-row{
        width: 480px;
        flex-direction: column;
      }
    
      .third-row{
        display: flex;
      }
    
      .fix-row{
        display: flex;
      }
    
      .a {
        width: 480px;
        height: 75px;
        
      }
    
      .b {
        width: 480px;
        height: 150px;
        
      }
    
     
      .c,
      .d {
        width: 480px;
        height: 125px;
      }
    
     
    
      
      .i {
        float: left;
        
        width: 480px;
        height: 80px;
      }
    
      .e,
      .f,
      .g,
      .h {
        width: 240px;
        height: 250px;
      }
    }
    